
table{
    width: 300px;
    margin-left: 20px;
}

.buttonRow{
    margin: 8px
}
button{
    margin-right: 3px;
}

mat-paginator{
    width: 85%;
    margin-left: 20px;
}

.mat-table-sticky-border-elem-left {
    border-right: 1px solid #e0e0e0;
  }

.example-container {
    height: 400px;
    width: 200px;
    //max-width: 100%;
    overflow: auto;
  }